@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Saira+Condensed&display=swap');

body {
    margin: 20px 280px;
    font-family: 'Saira Condensed', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(30, 62, 98);
}

legend {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: rgb(30, 62, 98);
}

.summery {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    color: rgb(30, 62, 98);
}

option {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: rgb(30, 62, 98);
}

.box>input {
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
    outline-offset: 0;
    margin-top: 10px;
}

.second_block {
    margin-top: 25px;
}

.second_block-box {
    margin-top: 10px;
}

.next {
    margin-top: 25px;
}

textarea {
    border: none;
    border-bottom: 1px solid black;
}

.textarea-box {
    margin-top: 15px;
}

textarea:focus {
    outline: none;
}

button {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    background-color: rgb(30, 62, 98);
    border-radius: 10px;
    border: none;
    margin-top: 25px;
    padding: 10px 35px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    color: rgb(23, 62, 92);
    background-color: #fff;
}